<?xml version="1.0"?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="headless" default="false"/>
  <world name='default'>
    <plugin
      filename="gz-sim-physics-system"
      name="gz::sim::systems::Physics">
    </plugin>
    <plugin
      filename="gz-sim-user-commands-system"
      name="gz::sim::systems::UserCommands">
    </plugin>
    <plugin
      filename="gz-sim-navsat-system"
      name="gz::sim::systems::NavSat">
    </plugin>
  <xacro:unless value="$(arg headless)">
    <plugin
      filename="gz-sim-scene-broadcaster-system"
      name="gz::sim::systems::SceneBroadcaster">
    </plugin>
  </xacro:unless>
    <plugin
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin
      filename="gz-sim-imu-system"
      name="gz::sim::systems::Imu">
    </plugin>

    <light name='sun' type='directional'>
      <cast_shadows>0</cast_shadows>
      <pose>0 0 10 0 -0 0</pose>
      <diffuse>0.8 0.8 0.8 1</diffuse>
      <specular>0.2 0.2 0.2 1</specular>
      <attenuation>
        <range>1000</range>
        <constant>0.9</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.1 -0.9</direction>
      <spot>
        <inner_angle>0</inner_angle>
        <outer_angle>0</outer_angle>
        <falloff>0</falloff>
      </spot>
    </light>
    
    <model name='ground_plane'>
      <static>1</static>
      <link name='link'>
        <collision name='collision'>
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>100 100</size>
            </plane>
          </geometry>
          <surface>
            <contact>
              <collide_bitmask>65535</collide_bitmask>
              <ode/>
            </contact>
            <friction>
              <ode>
                <mu>100</mu>
                <mu2>50</mu2>
              </ode>
              <torsional>
                <ode/>
              </torsional>
            </friction>
            <bounce/>
          </surface>
          <max_contacts>10</max_contacts>
        </collision>
        <visual name='visual'>
          <cast_shadows>0</cast_shadows>
          <geometry>
            <plane>
              <normal>0 0 1</normal>
              <size>100 100</size>
            </plane>
          </geometry>
          <material>
            <script>
              <uri>file://media/materials/scripts/gazebo.material</uri>
              <name>Gazebo/Grey</name>
            </script>
          </material>
        </visual>
        <self_collide>0</self_collide>
        <enable_wind>0</enable_wind>
        <kinematic>0</kinematic>
      </link>
    </model>
    
    <gravity>0 0 -9.8</gravity>
    <magnetic_field>6e-06 2.3e-05 -4.2e-05</magnetic_field>
    <atmosphere type='adiabatic'/>
    <physics name='3ms' type='ode'>
        <max_step_size>0.003</max_step_size>
        <real_time_factor>1</real_time_factor>
    </physics>
    <scene>
      <ambient>0.8 0.8 0.8 1</ambient>
      <background>0.7 0.7 0.7 1</background>
      <shadows>0</shadows>
    </scene>
    <wind/>
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <latitude_deg>0</latitude_deg>
      <longitude_deg>0</longitude_deg>
      <elevation>0</elevation>
      <heading_deg>0</heading_deg>
    </spherical_coordinates>
    
    <!-- Include the original house model directly -->
    <include>
      <uri>package://tb_worlds/models/sim_house</uri>
      <pose>1.48679 1.14707 0 0 -0 0</pose>
    </include>

    <!-- Table 1: Empty table -->
    <model name='table1'>
      <pose>-2.0 1.0 0 0 0 0</pose>
      <static>true</static>
      <link name='table1_link'>
        <collision name='table1_collision'>
          <geometry>
            <box>
              <size>1.0 0.6 0.5</size>
            </box>
          </geometry>
        </collision>
        <visual name='table1_visual'>
          <geometry>
            <box>
              <size>1.0 0.6 0.5</size>
            </box>
          </geometry>
          <material>
            <ambient>0.6 0.4 0.2 1</ambient>
            <diffuse>0.6 0.4 0.2 1</diffuse>
          </material>
        </visual>
      </link>
    </model>

    <!-- Table 2: Empty table -->
    <model name='table2'>
      <pose>-2.0 -1.0 0 0 0 0</pose>
      <static>true</static>
      <link name='table2_link'>
        <collision name='table2_collision'>
          <geometry>
            <box>
              <size>1.0 0.6 0.5</size>
            </box>
          </geometry>
        </collision>
        <visual name='table2_visual'>
          <geometry>
            <box>
              <size>1.0 0.6 0.5</size>
            </box>
          </geometry>
          <material>
            <ambient>0.6 0.4 0.2 1</ambient>
            <diffuse>0.6 0.4 0.2 1</diffuse>
          </material>
        </visual>
      </link>
    </model>

    <!-- Table 3: Empty table -->
    <model name='table3'>
      <pose>-2.0 3.0 0 0 0 0</pose>
      <static>true</static>
      <link name='table3_link'>
        <collision name='table3_collision'>
          <geometry>
            <box>
              <size>1.0 0.6 0.5</size>
            </box>
          </geometry>
        </collision>
        <visual name='table3_visual'>
          <geometry>
            <box>
              <size>1.0 0.6 0.5</size>
            </box>
          </geometry>
          <material>
            <ambient>0.6 0.4 0.2 1</ambient>
            <diffuse>0.6 0.4 0.2 1</diffuse>
          </material>
        </visual>
      </link>
    </model>

    <!-- Airport Bench -->
    <include>
      <uri>https://fuel.gazebosim.org/1.0/OpenRobotics/models/AirportBench</uri>
      <name>airport_bench</name>
      <pose>0.396 2.404 -0.17 0 0 0</pose>
    </include>

    <!-- Banana for Scale -->
    <include>
      <uri>https://fuel.gazebosim.org/1.0/mjcarroll/models/Banana for Scale</uri>
      <name>banana_for_scale</name>
      <pose>0.34 2.4327 0.25 0 0 0</pose>
    </include>

    <!-- JanSport Backpack Red -->
    <include>
      <uri>https://fuel.gazebosim.org/1.0/OpenRobotics/models/JanSport Backpack Red</uri>
      <name>jansport_backpack_red</name>
      <pose>0.4466 2.072 0.32 0 0 0</pose>
    </include>

  </world>
</sdf>
